/Socket/nbproject/private/
/ConversacaoJSF2/target/
/JSON/target/
/Hibernate/target/
/GpsMapa/target/
/Itext/target/
/Email/target/
/RESTfulExample/target/
/Socket/build/
/Android/JoyStick/nbproject/private/
/DynamicReports/target/
/Android/and1/Laboratorio2/gen/
/Android/and1/Laboratorio3/gen/
/Android/and1/Laboratorio4/gen/
/Android/and1/Laboratorio2/bin/
/Android/and1/Laboratorio9/gen/
/Android/and1/Laboratorio9/bin/
/Android/and1/Laboratorio4/bin/
/Android/and1/Laboratorio3/bin/