/Socket/nbproject/private/
/ConversacaoJSF2/target/
/JSON/target/
/Hibernate/target/
/GpsMapa/target/
/Itext/target/
/Email/target/
/RESTfulExample/target/
/Socket/build/
/Android/JoyStick/nbproject/private/
/DynamicReports/target/